html,
body {
    background-color: #141519;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
    position: relative;
    font-size: 15px;
}

.main {
    background-color: #1f2630;
    height: 375px;
    width: 375px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    position: absolute;

    
}

.img-div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #262f38;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}

.main img {
    max-width: 45px;
    max-height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}



.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: hsl(0, 0%, 100%);
    text-align: left;
    font-weight: 700;
    position: relative;
    top: 10px;
    margin-left: 10px;

}


p {
    color: hsl(217, 12%, 63%);
    text-align: left;
    line-height: 1.5;
    position: relative;
    margin-left: 10px;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;

}

.number {
    background-color:#262f38;
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number:hover {
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.selected {
    background-color:hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 45px;
    height: 45px;
    text-align: center; 
}

button {
    background-color:hsl(25, 97%, 53%);
    border-radius: 30px;
    margin: 1em;
	border: none;
    color: hsl(0, 0%, 100%);
    padding: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    top: 10px;
    font-weight: 700;
}

button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.thank-you {
    display: none;
    visibility: hidden;
    background-color: #1f2630;
    height: 375px;
    width: 375px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.thank-you img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1f2630;
    position: relative;
    margin-top: 10px;
}

.ty-rating {
    background-color:#262f38;
    color:hsl(25, 97%, 53%);
    border-radius: 30px;
    padding: 0.3em;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    position: relative;
    top: 20px;



}

.thank-you h1 {
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-weight: 700;
    position: relative;
    top: 25px;

}

.thank-you p {
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
}

